
.button {
  height: 5%;
  width: 40%;
}
.buttonFooter {
    position: absolute;
    bottom: 10%;
  }
  .volvermenucruz{
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    margin-top: 40px;
    margin-left: 300px;
  }