.containerDN {
  display: flex;
  justify-content: center;
}

.hoja {
  background-image: url(../../../img/hojapapel\ 2.png);
  width: 95%;
  height: 98vh;
  background-repeat: no-repeat;
  background-position: top;
}
.pluma {
  background-image: url(../../../img/plumafinal\ 1.png);
  width: 270px;
  height: 55vh;
  background-repeat: no-repeat;
  background-size: 100%;
}
.flexPluma {
  display: flex;
  justify-content: center;
}
