/* solo importaciones */

@import "reset.css";
@import "./variables.css";
@import "./components/main_components.css";
/*view port*/


body {
  background-color: var(--background_color);
  background-image: url("../img/fondodeahtNote.png");
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: top;
  overflow: hidden;
}
/*background-attachment: fixed;*/
/*background-position: center;*/

@media screen and (min-width: 769px) {
  body {
    background-size:38%;
  }
 }

 @media screen and (min-width: 800px) {
  body {
    background-size: 62%;
  }
 }

 @media screen and (min-width: 1025px) {
  body {
    background-size: 35%;
  }
 }

 @media screen and (min-width: 1200px) {
  body {
    background-size: 30%;
  }
 }
