/* solo importaciones */

@import "reset.css";
@import "./variables.css";
@import "./components/main_components.css";

/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
  font-family:"DEATHNOTE Font";
  src: url("./DEATHNOTEFont.woff") format("woff"),
  url('./Death_Note_Font_by_Karlibell22.ttf') format('ttf');
  font-weight:normal;
  font-style:normal;
}

body {
  font-family: 'DEATHNOTE Font';
  background-color: var(--background_color);
  background-image: url("../img/fondodeahtNote.png");
  background-repeat: no-repeat;
  background-size: 99%;
  background-position: top;
  overflow: hidden;
}

/*background-attachment: fixed;*/
/*background-position: center;*/

@media screen and (min-width: 769px) {
  body {
    background-size:38%;
  }
 }

 @media screen and (min-width: 800px) {
  body {
    background-size: 62%;
  }
 }

 @media screen and (min-width: 1025px) {
  body {
    background-size: 35%;
  }
 }

 @media screen and (min-width: 1200px) {
  body {
    background-size: 30%;
  }
 }
